* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(
      rgba(225, 225, 225, 0.1),
      rgba(225, 225, 225, 0.3)
    ),
    url("https://wallpaperaccess.com/full/84248.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2 {
  margin-bottom: 30px;
  position: relative;
  font-size: 60px;
  color: hsla(0, 0%, 0%, 0);
  -webkit-text-stroke: 0.1vw #453e61;
  text-transform: uppercase;
}

h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #f5f5dc;
  -webkit-text-stroke: 0vw #453e61;
  border-right: 1px solid #f5f5dc;
  overflow: hidden;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

form {
  background-color: white;
  padding: 0px 40px;
  border-radius: 10px;
}

h1 {
  color: #86608e;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #734f96;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
